<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bsc.eRoots21testApp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bsc_pride_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bsc_pride_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppL">
        <activity android:name=".BottomSheetFab"></activity>
        <activity android:name=".Feedback" />
        <activity android:name=".Dashboard" />
        <activity android:name=".FabAnim" />
        <activity android:name=".BottomNav" />
        <activity android:name=".AnimTest$AboutUs" />
        <activity android:name=".AnimTest" />
        <activity android:name=".LoginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>